body {
    background-color: #fff;
    color: #2E2F42;
}

/*Logo*/

.logo {
    color: #2E2F42;
}

.logo-text {
    color: #4D5AE5;
}

/*Navigation*/

.nav-section {
    color: #2E2F42;
}

.nav-section:hover, 
.nav-section:focus {
  color: #404BBF;
}

/*address*/

.contacts-link {
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/*Portfolio page*/
/*Buttons*/

.button {
    background-color: #F4F4FD;
    color: #4D5AE5;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    color: #FFF;
    cursor: pointer;
}

/*Examples of work*/

.example-text {
    color: #434455;
}

/*Footer*/

.footer {
    background-color: #2E2F42;
}

.logo-1 {
    color: #F4F4FD;
}

.footer-text {
    color: #E7E9FC;
}

/*Studio page*/
/*Hero*/

.hero {
    background-color: #2E2F42;
}

.hero-text {
    color: #FFF;
}

.order {
    background-color: #F4F4FD;
    color: #4D5AE5;
}

.order:hover,
.order:focus {
    background-color: #404BBF;
    color: #FFF;
    cursor: pointer;
}

/*Benefits*/

.benefits-text {
    color: #434455;
}

/*Our team*/

.team {
    background-color: #F4F4FD;
}

.team-text {
    color: #434455;
}